<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateIDServlet</servlet-name>
        <servlet-class>za.ac.tut.servlets.ValidateIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartDataSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.servlets.StartDataSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateIDServlet</servlet-name>
        <url-pattern>/ValidateIDServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartDataSessionServlet</servlet-name>
        <url-pattern>/StartDataSessionServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerResources</web-resource-name>
            <description/>
            <url-pattern>/menu.jsp</url-pattern>
            <url-pattern>/manager_menu.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>super_user</description>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Data_CapturerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Data_CapturerResources</web-resource-name>
            <description/>
            <url-pattern>/menu.jsp</url-pattern>
            <url-pattern>/data_cap_menu.jsp</url-pattern>
            <url-pattern>/data_cap_signin.jsp</url-pattern>
            <url-pattern>/StartDataSessionServlet.do</url-pattern>
            <url-pattern>/validate.jsp</url-pattern>
            <url-pattern>/validate_output.jsp</url-pattern>
            <url-pattern>/ValidateIDServlet.do</url-pattern>
            <url-pattern>/validate_error_output.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>normal_user</description>
            <role-name>data_capturer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>data_capturer</role-name>
    </security-role>
    <error-page>
        <error-code>403</error-code>
        <location>/login_error.jsp</location>
    </error-page>
</web-app>
